
body{
background-color: #F7F6F2;
font: normal 15px Arial;
color: #4B6587;
margin:0;
}
.topo{
background-color: #4B6587;
text-align: center;
color: #F7F6F2;
}

.corpo{
border-radius: 10px;
background-color: #e4e4e4;
padding:15px;
width: 500px;
margin: auto;
text-align: center;
box-shadow: 3px 3px 7px #1b1b1b;
margin-top: 20px;
}

#res{
display: flex;
flex-direction: column;
/* text-align: center; */
align-content: center;
align-items: center;
/* height:fit-content; */
}

#res img{
  width: 150px;
  height: 150px;
  margin-top: 5px;
}

